@font-face {
    font-family: 'Martin';
    src: url('https://raisely-images.imgix.net/raisely-blm/uploads/martin-regular-ttf-e-67945-webfont-woff-2-770848.woff2') format('woff2'),
         url('https://raisely-images.imgix.net/raisely-blm/uploads/martin-regular-ttf-e-67945-webfont-woff-577d2d.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$illyPersonFist1: 'https://raisely-images.imgix.net/raisely-blm/uploads/figure-three-png-e57031.png';
$illyPersonFist2: 'https://raisely-images.imgix.net/raisely-blm/uploads/figure-two-png-3ef7bb.png';
$illyPersonSign1: 'https://raisely-images.imgix.net/raisely-blm/uploads/figure-four-png-ef30a9.png';
$illyPersonSign2: 'https://raisely-images.imgix.net/raisely-blm/uploads/figure-one-png-72ca16.png';
$illySign1: 'https://raisely-images.imgix.net/raisely-blm/uploads/sign-one-png-f2cbf0.png';
$illySign2: 'https://raisely-images.imgix.net/raisely-blm/uploads/sign-two-png-6f8db4.png';
$illyFists: 'https://raisely-images.imgix.net/raisely-blm/uploads/fist-png-c2ae78.png';

@mixin overrideLink() {

    &,
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}

body {
    padding: 1em;

    @include respond-to('mobile') {
        padding: .5em;
    }

    &:before,
    &:after {
        content: '';
        position: fixed;
        right: 1em;
        bottom: 0;
        left: 1em;
        z-index: 2;

        @include respond-to('mobile') {
            right: .5em;
            left: .5em;
        }
    }
    
    // white bar
    &:before {
        height: 1em;
        background: white;
        box-shadow: 0 calc(-100vh + 1em) 0 white;

         @include respond-to('mobile') {
            height: .5em;
            box-shadow: none;
        }
    }
    
    // gradient
    &:after {
        pointer-events: none;
        height: 2em;
        margin-bottom: 1em;
        background: linear-gradient(to top, black, rgba(black,0));

        @include respond-to('mobile') {
            height: 1em;
            margin-bottom: .5em;
        }
    }
}

@include respond-to('mobile') {

    .button {
        font-size: 90%;
    }
    
    .button--cta {
        font-size: 100%;
    }
}

h1 {
    @include responsive-font-size($heading1FontSize, .5);
}

p.small,
.small p {
    font-size: 90%;
}

.button {
    line-height: 1;

    &:not(.override) {
        font-weight: 800;
    }

    .thin {
        font-weight: 300;
    }
}

.title {
    text-align: center;

    @include respond-to('mobile') {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__before {
        font-size: 2.5rem;
        letter-spacing: .1em;
        margin-bottom: .75em;
        
        @include respond-to('mobile') {
            margin-top: .25em;
            font-size: 1.5rem;
        }

        span {
            opacity: 0;
            position: relative;
            display: inline-block;
            transform: translate3d(0, 50%, 0);
            animation: .5s appearIn $easePop forwards 1s;

            &:nth-of-type(2) {
                animation-delay: 1.025s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.05s;
            }
        }
    }
}

.content__container {
    max-width: 850px;
    margin: 0 auto;
}

.organisation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    pointer-events: none;

    margin-bottom: 2rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include overrideLink{
        text-decoration: none;
    }

    .organisation-logo {
        margin-right: 1.5rem;

        @include respond-to('mobile') {
            display: none;
        }
    }

    &__content {
        flex-grow: 1;
        flex-basis: 50%;
        margin-right: 1.5rem;

        h4 {
            pointer-events: all;
        }
    }

    &__donate {
        pointer-events: all;
    }
}

.organisation-logo {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    pointer-events: all;

    &__img {
        display: block;
        width: 110px;
        height: 110px;
        background: no-repeat center / cover;
        border-radius: inherit;
        margin: 2px;
        pointer-events: all;

        @include respond-to('mobile') {
            width: 100px;
            height: 100px;
        }
        
        &--invert {
            filter: grayscale(1);
        }
        
        &--color {
            @include full;
            opacity: 0;
            transition: opacity .3s $easePop;
        }

        a:hover &--color,
        a:focus &--color {
            opacity: 1;
        }
    }

    &--has-illy &__img {
        background: no-repeat top / 70%;
        margin: 0;

        &--invert {
            filter: none;
        }

        &--color {
            opacity: 1;
        }
    }
}

.country-select {
    color: black;
    position: relative;
    font-size: 3rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .25em;
    pointer-events: none;
    
    i {
        color: white;
        margin: 0 -.1em;
        font-size: .75em;
        opacity: .5;
        transition: .3s $easePop;
    }
    
    select {
        @include full;
        opacity: 0;
        color: inherit;
        cursor: pointer;
        pointer-events: all;
        font-size: 1rem;

        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        border: none;
        width: 100%;
        height: 100%;
    }

    &:hover,
    &:focus-within {

        i {
            opacity: 1;
        }
    }
}

.highlight-org {
    display: block;
    border: 2px solid white;
    padding: 2rem;
    text-align: center;
    pointer-events: none;
    max-width: 600px;
    margin: 0 auto;

    @include respond-to('mobile') {
         padding: 1rem;
    }

    @include overrideLink() {
        text-decoration: none;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        
        text-align: left;
        margin-bottom: 1.5em;

        @include respond-to('mobile') {
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

        .organisation-logo {
            margin-right: 1.5em;
            pointer-events: all;

            @include respond-to('mobile') {
                margin-bottom: 1em;
                margin-right: 0;
            }

            &__img--color {
                opacity: 1;
            }
        }

        h6 {
            margin-top: 0;
            pointer-events: all;
        }

        &-description {
            flex-basis: 60%;
            flex-grow: 1;
        }
    }

    &__footer {

        .small {
            margin: 1em auto -.75em;
            max-width: 50ch;

             @include respond-to('mobile') {
                margin-bottom: -.25em;
            }
        }
    }

    .button {
        pointer-events: all;
    }
}

.link {
  padding: 0;
  margin: 0;
  i {
      font-size: 160%;
      margin-right: .33em;
      opacity: .75;
      transition: opacity .5s $easePop;
      -webkit-backface-visibility: hidden;
      transform: tranlateZ(1px);
  }

}

.link-button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    
    display: flex;
    align-items: center;
    
    text-transform: uppercase;
    letter-spacing: .1em;
    
    i,
    &:before {
        font-size: 160%;
        margin-right: .33em;
        opacity: .75;
        transition: opacity .5s $easePop;
        -webkit-backface-visibility: hidden;
        transform: tranlateZ(1px);
    }
    
    @include overrideLink() {
        font-weight: 600;
    }

    &:hover i,
    &:hover:before {
        opacity: 1;
        transition:
            opacity .5s $easePop,
            transform .5s $easePop
        ;
    }

   &:hover .loop {
        transform: rotate(180deg);
    }
    
    &:focus i,
    &:focus:before {
        opacity: 1;
    }
}
    
.highlight-actions {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9rem;

    position: relative;
    margin: 1em 0 1em;
    padding-bottom: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &:after {
        $size: .5em;
        content: '';
        border: 2px solid white;
        width: $size;
        height: $size;
        display: inline-block;
        transform: rotate(45deg);
        opacity: .5;

        position: absolute;
        top: calc(100% - #{$size/2});
        left: calc(50% - #{$size/2});
    }

    &__divider {
        margin: 0 1em;
    }

    a {
        @include overrideLink() {
            text-decoration: none;
        }
    }

    .modal__button .button {
        @extend .link-button;

        &:before {
            content: 'share';
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
        }
    }
}

.embed {

    &__wrapper {
        border: 2px solid white;
        padding: 1.5rem;

        @include respond-to('mobile') {
            padding: .5em;
        }

        h6 {
           width: auto;
    
           @include respond-to('mobile') {
               width: 100%;
           }
       }
    }

    &__text {
        display: flex;
        align-items: center;
        margin-bottom: .25em;

        @include respond-to('mobile') {
            flex-wrap: wrap;
        }

        h6 {
            margin-right: .5em;
            margin-bottom: 0;

             @include respond-to('mobile') {
                 margin-bottom: .5rem;
             }
        }

        input {
            flex-grow: 1;
        }
    }

    &__wrapper &__text__help {
        color: inherit;
        font-size: 14px;
        margin-bottom: 0;
        text-align: right;
    }

    &__text-input {
        border: 2px solid black;
        background: white;
        border-radius: 0;
        font-size: 1.1rem;
        width: 100%;
        line-height: 1.5;
        color: black;
        padding: .25em .45em;
        resize: vertical;
    }

    &__code {
        color: black;
        width: 100%;
        height: 10rem;
        font-family: 'courier';
        resize: vertical;
    }

    &__content {
        margin-top: 1em;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: .5em;

            h6 {
                width: auto;
            }

            .button {
                font-size: 80%;
                border: 2px solid black;
                text-transform: uppercase;
                letter-spacing: .1em;

                &:hover,
                &:focus,
                &:active,
                &:visited {
                    background: black;
                    color: white;
                }
            }
        }
    }
}

.about-section {
    display: flex;
    padding: 1em 1em 2em;
    margin-left: -1em;
    width: calc(100% + 2em);
    background: linear-gradient(to bottom, black calc(100% - 2.5em), rgba(black,0));

    position: sticky;
    top: 1em;
    z-index: 1;

     @include respond-to('mobile') {
        position: relative;
        top: unset;
        padding: 1em 0;
        margin-left: 0;
        width: 100%;
    }

    i {
        font-size: 2em;
        opacity: .66;
        margin-right: 1em;
        
        @include respond-to('mobile') {
            display: none;
        }
    }

    p {
        flex-grow: 1;
        margin-right: 1em;
    }

    .modal__button .button {
        font-size: .8em;
        padding: .5em;
        text-transform: uppercase;
        letter-spacing: .1em;
        background: none;
        color: white;
        border-color: white;

        &:hover,
        &:focus {
            background: white;
            color: black;
        }
    }
}

.highlight-disclaimer {
    margin-top: 1em;
    text-align: center;
}

.modal {

    &__back {
        background: black;
        border: 1em solid white;
        pointer-events: none;
    }

    &__content {
        max-width: none;
        padding: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        
        &-box {
            background: black;
            text-align: center;
            margin: 1rem;
            padding: 5vmin;
            height: auto;
            width: 100%;
            max-width: 800px;

            &,
            p {
                font-size: 1.33rem;
            }

            p {
                margin-bottom: .75em;
            }
        }
    }

    &__close {
        position: fixed;
        font-size: 2.5em;
        top: .66em;
        right: .66em;
        bottom: unset;
        width: 1em;
        height: 1em;
        
        @include respond-to('mobile') {
            font-size: 1.5em;
        }

        .icon {
            font-size: 1em;
            width: 1em;
            height: 1em;
        }
    }

    .embed__wrapper {
        border: none;
    }
}

.source-list {
    margin-top: 2em;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    li:after {
        content: '-';
        display: inline-block;
        margin: 0 1em;
    }

    li:last-of-type:after {
        content: none;
    }
}

.spinner_stroke {
    border-width: 4px;
    border-left-color: white;
}


.share-modal {
    
    .embed__wrapper {
        background: white;
        color: black;
        margin-top: 1em;

        h4, h6 {
            color: black;
        }
    }
}